@* @{
    ViewData["Title"] = "Home Page";
}
<div >
    <div class="d-flex justify-content-center mb-3 ">
        <button class="btn-group active" id="btnLogin">Login</button>
        <button class="btn-group" id="btnRegister">Signup</button>
    </div>
    <div class="container d-flex justify-content-center p-2" style="width: 400px">
        <div class="login-form" style="width: 400px">
            <h2 class="text-center">Login</h2>
            <form asp-action="Login" asp-controller="Account" method="post">
                <div class="mb-3">
                    <label class="ms-2 align-middle" style="width: 80px">Username</label>
                    <input class="input-style" style="width: 100%" id="username" name="username" placeholder="User name..." />
                </div>
                <div class="mb-3">
                    <label class="ms-2 align-middle" style="width: 80px">Password</label>
                    <input type="password" class="input-style" style="width: 100%" id="password" name="password" placeholder="Password..." />
                </div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger text-center mb-2">
                        @TempData["ErrorMessage"]
                    </div>
                }
                else if (TempData["InfoMessage"] != null)
                {
                    <div class="alert alert-success text-center mb-2">
                        @TempData["InfoMessage"]
                    </div>
                }

                <div class="button-style d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-success" style="width: 100%">Login</button>
                </div>
            </form>
        </div>
        <div class="register-form hidden" style="width: 400px">
            <h2 class="text-center">Sign Up</h2>
            <form class="d-flex flex-column justify-content-center" asp-action="Register" asp-controller="Account" method="post">
                <div class="mb-3">
                    <label class="ms-2 align-middle" style="width: 80px">Username</label>
                    <input class="input-style" style="width: 100%" id="username" name="username" placeholder="User name..." />
                </div>
                <div class="mb-3">
                    <label class="ms-2 align-middle" style="width: 80px">Email</label>
                    <input class="  input-style" type="email" style="width: 100%" id="email" name="email" placeholder="Email... "/>
                </div>
                <div class="mb-3">
                    <label class="ms-2 align-middle" style="width: 80px">Password</label>
                    <input type="password" class="input-style" style="width: 100%" id="password" name="password" placeholder="Password..." />
                </div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger text-center mb-2">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <div class="button-style d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-success" style="width: 100%">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
