<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posapp</title>
    <link rel="stylesheet" href="~/css/layoutCN.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AccessDenied.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WNC.G06.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div>
            <div id="avartar">
                <a ><img src="~/css/Images/Icon/logo2.png" alt="anh-logo"></a>
                Tên Người dùng
            </div>
            <nav id="navbar"> 
                    <ul>
                        <li><a class="active" href="Sản phẩm.aspx">THÔNG TIN CỬA HÀNG</a></li>
                        <li><a href="Sản phẩm.aspx">SẢN PHẨM</a></li>
                        <li><a href="SanPham.aspx">THANH TOÁN DỊCH VỤ</a></li>
                        <li><a href="#my_footer">BÁO CÁO DOANH THU</a></li>
                        <li><a href="#my_footer">VỀ CHÚNG TÔI</a></li>  
                    </ul>
            </nav>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="DX">
                <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                    <a><button type="submit">Đăng xuất</button></a>
                </form>
            </div>
        } 
        else
        {
            <div class="DX">
                <a asp-action="Index" asp-controller="Account">Đăng nhập/Đăng ký</a>
            </div>
        }
        
    </header>
    <main role="main">
        <div>
            @RenderBody()
        </div>
    </main>
</body>
</html>