<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Posapp</title>
    <link rel="stylesheet" href="~/css/LayoutNV.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rspNV.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div><a asp-action="Index" asp-controller="Manager">@User.Identity.Name</a></div>
        <div class="DX">
            <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                <a><button type="submit">Đăng xuất</button></a>
            </form>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>