@model WNC.G06.Models.ProductModel

@{
    ViewData["Title"] = "Add New Product";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddProduct" asp-controller="Product" method="post">
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="imgUrl" class="control-label"></label>
        <input asp-for="imgUrl" class="form-control" type="text" />
        <span asp-validation-for="imgUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Mô tả sản phẩm</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="CafeID" class="control-label"></label>
        <select asp-for="CafeID" class="form-control" asp-items="ViewBag.Cafes">
            <option value="">Select a Cafe</option>
        </select>
        <span asp-validation-for="CafeID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
