@model List<WNC.G06.Models.UserModel>

@{
    ViewData["Title"] = "Manager Page";
}

<form asp-action="AddCafe" method="get">
    <button type="submit">Them thông tin cửa hàng</button>
</form>
<form asp-action="AddProduct" method="get">
    <button type="submit">Them thông tin sản phẩm</button>
</form>
<form asp-action="IndexProduct" method="get">
    <button type="submit">Hiển thị sản phẩm</button>
</form>
<form asp-action="IndexCafe" method="get">
    <button type="submit">Hiển thị cửa hàng</button>
</form>