html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.btn-group {
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    background: white;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    border: none;
}

.active {
    color: #FDBA38;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.input-style {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
}

    .input-style:focus {
        border: solid 1px #FDBA38;
        outline: none;
    }

table {
    cursor: default;
}

.btn-submit {
    color: #FDBA38;
    border-color: #FDBA38;
}

    .btn-submit:hover {
        color: #fff;
        background-color: #FDBA38;
        border-color: #FDBA38;
    }

    .btn-check:focus + .btn-submit, .btn-submit:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
    }